<div class="container border">
    <div class="d-flex flex-row mb-3 justify-content-around">
        <div class="p-2">
            <a class="cursor" routerLink="">
            <div><i class="bi bi-buildings cursor text-primary fs-1"></i></div>
            <div class="fs-5 fw-semibold ">Hotels</div>
        </a>
        </div>
        <div class="p-2 "><a routerLink="" class="text-decoration"><div><i class="bi bi-buildings  text-primary fs-1"></i></div>
        <div class="fs-5 fw-semibold home text-primary">Homestays</div></a></div>
        <div class="p-2">
            <a class="cursor" routerLink="">
                <div><i class="fa-solid fa-parachute-box text-primary fs-1"></i></div>
                <div class="fs-5 fw-semibold mt-3 align-item-center">Holiday Packages</div>
            </a>
        </div>
      </div>  
</div>
